@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 357 59% 98%;
    --foreground: 357 66% 2%;
    --muted: 327 14% 87%;
    --muted-foreground: 327 14% 26%;
    --popover: 357 59% 98%;
    --popover-foreground: 357 66% 2%;
    --card: 357 59% 98%;
    --card-foreground: 357 66% 2%;
    --border: 357 6% 88%;
    --input: 357 6% 88%;
    --primary: 357 17% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 327 17% 42%;
    --secondary-foreground: 0 0% 100%;
    --accent: 27 17% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 22 97% 34%;
    --destructive-foreground: 0 0% 100%;
    --ring: 357 17% 42%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
  z-index: -1;
}

.grid-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.9));
}